
CONFIG:
  #BATCH_INFO: sbatch  $SBATCH_TEMPLATES/SBATCH_bigmem2.TEMPLATE 5    #The max is 5 for bigmem2  
  BATCH_INFO: sbatch  $SBATCH_TEMPLATES/SBATCH_Midway2b.TEMPLATE 11
  
  # optional memory request (default is 2 GB)
  BATCH_MEM: 54GB    

  # optional max walltime request (default is 24hr)
  BATCH_WALLTIME: '35:00:00'  

  # optional list of required ENVs (aborts if any ENV is not defined)
  #ENV_REQUIRE: SNANA_LSST_SIM  LSST_STACK_VERSION

  # Must specify name of training code (because it's outside SNANA)
  JOBNAME: trainsalt

  CONDA_DEFAULT_ENV: SALTShaker_kene_mod  # abort if $CONDA_DEFAULT_ENV != saltshaker_jax

  # top-level config input files
  SALT3_CONFIG_FILE: SALTShaker_main_file.config  # top-level input for SALTshaker code

  # global command-line options for all TRAINOPTs below
  #TRAINOPT_GLOBAL: <list of options>
  #   e.g.,
  #TRAINOPT_GLOBAL: --resume_from_outputdir $SNTRAIN_ROOT/SALT3/SALT3.K21

    
  # The nominal training with salt-input files is output as TRAINOPT000.
  # For additional trainings with variations (e.g, calibration shifts,
  # training options), use the TRAINOPT key as illustrated by the example
  # below that produces TRAINOPT001 thru TRAINOPT009.  Remove TRAINOPT key
  # to produce only TRAINOP000.
  # SHIFTLIST_FILE is a file containing a list of MAGSHIFT and WAVESHIFT
  # keys; <CR> are stripped so that contents can be distributed among
  # multiple lines for human readability. The explicit MAGSHIFT and
  # WAVESHIFT keys are intended for linear perturbations to measure
  # derivatives for systematics; the SHIFTLIST_FILE feature is intended 
  # for a random calibration offset in every band.

  TRAINOPT: # survey  band shift
  - SHIFTLIST_FILE calib_nominal_1.txt
  - SHIFTLIST_FILE calib_nominal_2.txt
  - SHIFTLIST_FILE calib_nominal_3.txt
  - SHIFTLIST_FILE calib_nominal_4.txt
  - SHIFTLIST_FILE calib_nominal_5.txt
  - SHIFTLIST_FILE calib_nominal_6.txt
  - SHIFTLIST_FILE calib_nominal_7.txt
  - SHIFTLIST_FILE calib_nominal_8.txt
  - SHIFTLIST_FILE calib_nominal_9.txt

  OUTDIR: SALT3.SYS  # all output goes here. This overrides the output_dir in SALTShaker_main_file.config.
