[iodata]

#Accepts one or more comma-separated lists
snlists = $SNDATA_ROOT/SIM/Roman_LC_simulations/Roman_LC_simulations.LIST,$SNDATA_ROOT/SIM/LSST_LC_simulations/LSST_LC_simulations.LIST   

#Initial peak MJD guesses. Usually accepts a single list, so combine SNe from different surveys into one file with unique SNIDs.
tmaxlist = $directory_of_SALTShaker_main_file/Zstarterkit_tmax_dust_model.List

#Initial guesses for SN lc parameters. Usually accepts a single list, so combine SNe from different surveys into one file with unique SNIDs.
snparlist= $directory_of_SALTShaker_main_file/Zstarterkit_snpar_dust_model.List

#Initial guesses for spectral recalibration parameters (not recommended)
specrecallist=

#Use spectra in training. 1= use spectra, 0 = don't use spectra.
dospec = 1

#Makes selection cuts on spectra using a signal to noise ratio
spectra_cut = 12 

#Limit training to only use a given number of SNe
maxsn =5000

#Directory for trained model outputs
outputdir = SALT3.testing1

#Keep only SNe with spectroscopic data
keeponlyspec = False

#First guesses of M0, M1 (default =  Hsiao)
initm0modelfile =  #$PLASTICC_ROOT/model_libs_updates/SALT3.NIR_WAVEEXT/salt3_template_0.dat.gz 
initm1modelfile =  #$PLASTICC_ROOT/model_libs_updates/SALT3.NIR_WAVEEXT/salt3_template_1.dat.gz

#If True (1?), uses SALT2 as the initial guess - otherwise uses M0/M1 model file above.
initsalt2model = 1

#If True (1) use SALT2 errors as initial guess for errors (not recommended as error prescriptions differ)
initsalt2var =  0

#Nominal B-filter for putting priors on the normalization
initbfilt = Bessell90_B.dat

#Resume from outputdir - if training crashes or needs to be resumed
resume_from_outputdir = #output

#SALT3.Fragilistic
resume_from_gnhistory = #output

#SALT3.Fragilistic
# Config options for training logs
loggingconfig = $directory_of_SALTShaker_main_file/logging_starterkit.yaml

# Additional training confit
modelconfig = $directory_of_SALTShaker_main_file/modelspec_starterkit.conf
trainingconfig = $directory_of_SALTShaker_main_file/gradientspec_starterkit.conf
calibrationshiftfile = 

# Amount of filter "mass" allowed to be outside the SALT wavelength range
filter_mass_tolerance = 0.01

# If Trye, does not fit for M0 and M1
fix_salt2modelpars = False
fix_salt2components = False
validate_modelonly = True   # RK; based on D.Jones suggestion
use_previous_errors = False
calib_survey_ignore = False
fix_salt2components_initdir =
filters_use_lastchar_only = False
filtercen_obs_waverange = 1000,30000

[survey_LSST]
#kcorfile = $SNDATA_ROOT/kcor/LSST/baseline/kcor_LSST.fits.gz 
kcorfile = $directory_of_SALTShaker_main_file/kcor_LSST.fits.gz 
subsurveylist= 
ignore_filters= 

[survey_ROMAN]
#kcorfile = $SNANA_ROMAN_ROOT/kcor/20210614/calib_ROMAN.fits.gz  
kcorfile = $directory_of_SALTShaker_main_file/calib_ROMAN_no_spectrograph.fits #temp hack
subsurveylist=
ignore_filters=

[survey_LOWZ]
kcorfile = $SNDATA_ROOT/kcor/SALT3TRAIN_K21-Frag/kcor_OTHER_LOWZ.fits
subsurveylist=
ignore_filters=

[survey_FOUNDATION]
kcorfile = $SNDATA_ROOT/kcor/SALT3TRAIN_K21-Frag/kcor_Foundation_DR1.fits
subsurveylist = 
ignore_filters=

[trainparams]
optimizer=rpropwithbacktracking
regularize = True
fitsalt2 = False
n_repeat = 1
spectroscopic_zeropadding_batches=8
photometric_zeropadding_batches=5
preintegrate_photometric_passband= True
fit_tpkoff=False
fitting_sequence=all
fitprobmin = 0.0001
errors_from_hessianapprox = False
errors_from_bootstrap = False
n_bootstrap = 50
maxiter_bootstrap = 2
bootstrap_sbatch_template = $SBATCH_TEMPLATES/SBATCH_DEFAULT.TEMPLATE
bootstrap_batch_mode = True
get_bootstrap_output_only = False
no_transformed_err_check = False
